<app-navbar></app-navbar>
<div class="container lista__container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="lista__titulo">Lista de usuários</h1>
        </div>
    </div>
    <div class="row justify-content-center lista">
        <div class="col-md-2">
            <a href="cdUsuarios"><button class="btn__cadastrar">Cadastrar usuário</button></a>
        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr class="lista__tabelaTitulo">
                        <th>Id</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Senha</th>
                        <th>Administrador</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of usuario" class="lista__valores">
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.email}}</td>
                        <td class="lista__senha">{{item.password}}</td>
                        <td><input type="checkbox" value="{{item.userAdmin}}" disabled></td>
                        <td><button class="btn__editar" (click)="editar(item.id)">Editar</button><button
                                class="btn__excluir" (click)="deletarUsuario(item.id)">Excluir</button>
                        </td>
                    </tr>
                    <tr class="lista__valores">
                        <td>2</td>
                        <td>João</td>
                        <td>jjaoovictorp</td>
                        <td class="lista__senha">02053023,</td>
                        <td><input type="checkbox" disabled></td>
                        <td><button class="btn__editar">Editar</button><button class="btn__excluir">Excluir</button>
                        </td>
                </tbody>
            </table>
        </div>
    </div>
</div>