<app-navbar></app-navbar>
<div class="container form__container">
    <div class="row justify-content-center">
        <div class="col-md-6 form">
            <form class="form__action">
                <label class="form__label" for="nome" [(ngModel)]="usuario.nome">Nome:</label>
                <input class="form__control" type="text" name="nome" [(ngModel)]="usuario.nome">
                <label class="form__label" for="email">E-mail:</label>
                <input class="form__control" type="email" name="email" [(ngModel)]="usuario.email">
                <label class="form__label" for="password">Senha:</label>
                <input class="form__control" type="password" name="password" [(ngModel)]="usuario.password">
                <div class="form_checkbox">
                    <label for="userAdmin">Administrador:</label>
                    <input name="userAdmin" type="checkbox" [(ngModel)]="usuario.userAdmin">
                </div>
                <div class="form__btn">
                    <a href="listarUsuarios" class="form__btnCancelar">Cancelar</a>
                    <button type="submit" class="form__btnSalvar" (click)="cadastrar()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>