<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form">
            <form class="form__action">
                <label class="form__label" for="nome">Nome:</label>
                <input value="{{usuarios.nome}}" class="form__control" type="text" name="nome"
                    [(ngModel)]="usuarios.nome">
                <label class="form__label" for="email">E-mail:</label>
                <input value="{{usuarios.email}}" class="form__control" type="email" name="email"
                    [(ngModel)]="usuarios.email">
                <label class="form__label" for="password">Senha:</label>
                <input value="{{usuarios.password}}" class="form__control" type="password" name="password"
                    [(ngModel)]="usuarios.password">
                <div class="form_checkbox">
                    <label for="userAdmin">Administrador:</label>
                    <input value="{{usuarios.userAdmin}}" name="userAdmin" type="checkbox"
                        [(ngModel)]="usuarios.userAdmin">
                </div>
                <div class="form__btn">
                    <a href="listarUsuarios" class="form__btnCancelar">Cancelar</a>
                    <button type="submit" class="form__btnSalvar" (click)="editarUsuario()">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>