.form__container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 76px);
    justify-content: center;
}

.form {
    max-width: 1260px;
}

.form__action {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px #eeeeee;
    padding: 24px;
}

.form__label, .form__control{
    color: #2F2D2E;
    border: none;
    display: block;
    font-family: 'Comfortaa', sans-serif;
    outline: 0;
    width: 100%;
}

.form__label {
    padding-top: 24px;
}

.form__control {
    border: solid 1px #2F2D2E;
    border-radius: 3px;
    padding: 8px;
}

.form__control:focus {
    border: solid 1px #F18F01;
}

.form_checkbox{
    font-family: 'Comfortaa', sans-serif;
    color: #2F2D2E;
    padding: 24px 0;
    display: flex;
    justify-content: start;
}

.form_checkbox > label{
    margin-right: 24px;
}

.form_checkbox > input{
    margin-top: 5px;
}

.form__btn{
    display: flex;
}

.form__btnCancelar,
.form__btnSalvar {
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    font-family: 'Comfortaa', sans-serif;
    padding: 8px 0;
    transition: all 150ms;
    width: 100%;
}

.form__btnSalvar {
    background-color: #F18F01;
    margin-left: 4px;
}

.form__btnCancelar {
    background-color: #D33F49;
    text-decoration: none;
    text-align: center;
    margin-right: 4px;
}

.form__btnSalvar:hover, .form__btnCancelar:hover {
    opacity: 0.8;
}